body{

font-family:Arial;
background:#0A0F1E;
color:white;
margin:0;
text-align:center;

}

header{

padding:15px;
background:#121A33;

}

button{

padding:12px;
margin:10px;
border:none;
border-radius:10px;
background:#3A6BFF;
color:white;
font-size:16px;

}

#map{

height:300px;
margin:10px;

}

ul{

list-style:none;
padding:0;

}

li{

padding:10px;
border-bottom:1px solid #333;

}
