body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white
}

header{
padding:10px
}

.stats{
display:flex;
gap:10px
}

.card{
flex:1;
background:#1f2937;
padding:10px;
border-radius:10px;
text-align:center
}

#map{
height:40vh
}

.controls{
display:flex;
gap:10px;
padding:10px
}

button{
padding:10px;
border:none;
border-radius:6px;
background:#2563eb;
color:white
}

#parcelList{
padding:10px
}

.parcel{
background:#1f2937;
padding:10px;
margin:5px 0;
border-radius:10px
}

.parcel img{
width:100%;
border-radius:6px
}

#cameraBox{
display:none;
position:fixed;
bottom:0;
left:0;
right:0;
background:#000;
padding:10px
}

#video{
width:100%
}
